* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family: Helvetica, sans-serif;
    --color: seashell;
    --background-color: black;
    --opacity: 0.9;
}

body {
    font-family: var(--font-family);
    font-size: 22px;
    background-color: var(--background-color);
    color: var(--color);
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.logo{
    height: 50px;
}

.nav{
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    height: 69px;
    gap: 20px; 
    border-bottom: 1px solid seashell;
    padding:10px; 
}

.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-menu a{
    color: var(--color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-position: center; 
    background-color: var(--background-color);
}

.mission-image{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/img-mission-background.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 1200px;
    height: 700px;
}

.mission-text-box {
    width: 1200px;
    margin: 0;
    background-color: var(--background-color);
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-bottom: 15px;
}

.tea-of-the-month {
    width: 1000px;
    margin: 0 auto;
}

.tea-of-the-month-title {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 0 auto;
}

.tea-of-the-month{
    margin-top: 50px;
}

.tea-item {
    padding: 10px;
    text-align: center;
}

.tea-item img{
    height: 200px;
    width: 300px;
}

.tea-item-flexbox-wrap {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.locations-image {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-image: url(../images/img-locations-background.jpg);
background-size: cover;
background-repeat: no-repeat;
width: 1200px;
height: 500px;
}

.locations {
 background-color: var(--background-color);
 display: flex;
 align-items: center;
 justify-content: center; 
 height: 500px;
 margin-top: 15px;
 opacity: 1;
}

.locations-title{
    color: var(--color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.textbox {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    background-color: black;
    opacity: 1;
    text-align: center;
}

.locations-flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px;
}

footer a{
    color: var(--color);
}

.flexbox-footer-content{
    display: flex;
    justify-content: center;
    align-items: center; 
    color: var(--color);
    opacity: 0.9;
}

.flexbox-footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.footer-copyright{
    align-self: flex-start;
    margin-top: 80px; 
}

/* Responsiveness Media query for Mobile Layoout */
    @media (max-width: 768px) {
        .nav {
        font-size: 16px;
    }
        .locations-flexbox {
        flex-direction: column;
    }
        .locations {
        height: auto;
    }
        .locations-image {
        width: 100%;
        height: auto;
    }
        .mission-image {
        width: 100%;
    }
        .tea-of-the-month {
        width: 100%;
    }
        .tea-item-flexbox-wrap {
        width: 100%;
    }
        .textbox {
        width: 80%;
        height: auto;
    }
        footer{
        height: auto;
    }
}